.div {
    width: 18vw;
    height: 30vh;
    background-image: url('/public/card_background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    position: relative;
    border-radius: 0.4rem;
    margin: 0.5rem;
}

.nameStyle {
    text-decoration: none;
    color: purple;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1vh;
    left: 10vw;
    background-color: white;
    border: 1px solid black;
    width: 10wh;
    padding: 3px;
}

.imageStyle {
    width: 80%;
    border-radius: 100%;
}

.btn {
    background-color: white;
    columns: black;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    width: 2.5vw;
    height: 2.5vh;
    cursor: pointer;
    border-top-right-radius: 0.4rem;
}

.btn2 {
    background-color: white;
    columns: black;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 2.5vw;
    height: 2.5vh;
    cursor: pointer;
    border-top-left-radius: 0.4rem;
}

.data {
    background-color: white;
    border-radius: 2px;
    margin: 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}